= simple_form_for [:admin, @post], :html => { :multipart => true } do |f|

  = link_to 'Cancel', [:admin, :posts]
  = f.submit 'Save', :class => 'save'
  
  %h2 Details
  = f.input :draft
  = f.input :title
  = f.input :body
  = f.association :category  
  %br
  
  %h2 Cover Image
  - if @post.cover_image_file_name.blank?
    = f.input :cover_image, :as => :file, :label => 'Add Cover Image'
  - else
    = image_tag(@post.cover_image.url(:medium), :class => 'cover-image')
    = f.input :cover_image, :as => :file, :label => 'Change Cover'  
    = f.input :delete_cover_image, :as => :boolean, :label => 'Remove'
    
  %br
  %h2 Gallery Images  
  %table#images
    %tr
      %th Feature
      %th Photo
      %th
      %th
    = f.simple_fields_for :images do |builder|
      = render 'image_fields', :f => builder
  = link_to_add_fields "Add an Image", f, :images
      
  %div.controls    
    = link_to 'Cancel', [:admin, :posts]
    = f.submit 'Save', :class => 'save'      