%tr.post
  %td.image= image_tag(post.image.url(:small))
  %td= link_to post.title, [:edit, :admin, post]

  %td=post.category.try(:name)
  %td.number=post.attachments_count
  
  %td.date="#{time_ago_in_words post.created_at} ago"
  %td.date="#{time_ago_in_words post.updated_at} ago"
  %td.date= post.published_at
  
  %td= link_to 'Edit', [:edit, :admin, post]