%tr.post
  %td.image
    = image_tag(post.cover_image.url(:small))
  %td
    - if post.published_at.nil?
      %span Draft
    = post.title

  %td= link_to post.category.try(:name), admin_category_posts_url(post.category.id)
  %td.number=post.images_count
  
  %td.date= post.updated_at.to_s(:short)
  %td.date= post.created_at.to_s(:short)
  
  %td= link_to 'Edit', [:edit, :admin, post]
  %td= link_to 'View', post