= link_to '+ Post', [:new, :admin, :post], :class => 'add-button'

- if @category
  = link_to 'Back', admin_posts_url
  %h1
    = "#{pluralize(@posts.size, 'Post')} in"
    %span.category= @category.name.titleize

    
- else
  %h1= pluralize(@posts.size, 'Post')

- unless @posts.empty?
  %table#posts
    %tr
      %th
      %th.name Title
      %th.name Category
      %th.number Images
      %th.date Updated
      %th.date Created
      %th
      %th
    =render @posts

