!!!
%html
  %head
    %title Modern Hippie
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    #header
      = link_to image_tag('logo.png'), '/'
      %ul#nav
        - @categories.each do |c|
          %li= link_to c.name, c
    #content
      = yield
    #footer
      %p
        &copy;
        ModernHippie
        = Time.now.year
