!!!
%html
  %head
    %title Modern Hippie
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta(name="viewport" content="width=800px, user-scalable=no")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")

    %meta(property="og:type" content="website")
    %meta(property="og:url" content=root_url)
    %meta(property="og:site_name" content="ModernHippie.me")
    - if @post
      %meta(property="og:title" content="#{@post.title}")
      %meta(property="og:description" content="#{@post.summary}")
      %meta(property="og:image" content="#{@post.cover_image(:large)}")
    - else
      %meta(property="og:image" content="#{root_url.chomp('/')}#{asset_path('logo.png')}")

  %body{:class => "#{controller_name}_#{action_name}"}
    .container
      #header
        - if @post
          = link_to(image_tag('next.png'), @older_post, :class => 'older') if @older_post
          = link_to(image_tag('logo.png', :class => 'logo'), '/')
          = link_to(image_tag('previous.png'), @newer_post, :class => 'newer') if @newer_post
        - else
          = link_to image_tag('logo.png', :class => 'logo'), '#', {"data-filter" => "*", :class => 'filter'}
          %ul
            - @categories.each do |c|
              %li= link_to c.name, '#', {"data-filter"=>".#{c.name}", :class => 'filter'}
      #content
        = yield
      #footer
        - if @post
          %ul.share
            %li= link_to image_tag('twitter.png'), twitter_url_for(@post), :target => '_blank'
            %li= link_to image_tag('fb.png'), facebook_url_for(@post), :target => '_blank'
            %li= link_to image_tag('pinit.png'), pinterest_url_for(@post), :target => '_blank'
            %li
        %p
          &copy;
          = Time.now.year
          ModernHippie
    = render 'layouts/ga'
    
    
    