!!!
%html
  %head
    %title Modern Hippie
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %meta(name="viewport" content="width=800px, user-scalable=no")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")
    
  %body{:class => "#{controller_name}_#{action_name}"}
    .container
      #header
        - if @post
          = link_to image_tag('logo.png'), '/'
        - else
          = link_to image_tag('logo.png'), '#', {"data-filter" => "*", :class => 'filter'}
          %ul
            - @categories.each do |c|
              %li= link_to c.name, '#', {"data-filter"=>".#{c.name}", :class => 'filter'}
      #content
        = yield
      #footer
        %p
          &copy;
          ModernHippie
          = Time.now.year
    = render 'layouts/ga'